* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: bisque;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: beige;
    color: black;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    text-align: center;
    padding: 20px;
    background: beige;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: bisque;
}

.sidebar ul li i {
    margin-right: 10px;
}

/* Main content */
.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.header {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #2c3e50;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}



.card h3 {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: beige;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 22px;
    font-weight: bold;
}

.table-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(176, 148, 148, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: orange;
}

tr:hover {
    background: #f9f9f9;
}

a {
    color: black;
    text-decoration: none;
}

#del {
    background-color: red;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}
<!--staff-->
#de {
    background-color: red;
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

#mod {
    background-color: green;
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

#add {
    width: 100px;
    height: 40px;
    background-color: green;
    border-radius: 5px;
}

.list {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.list h2 {
    margin-top: 5px;
    font-size: xx-large;
}